/* here you can put your own css to customize and override the theme */

/** Select2 Fix
.select2-hidden-accessible {
	display: none !important;
}

.select2-selection {
	height: 34px !important;
}

.select2-selection__placeholder {
	line-height: 34px !important;
}

.select2-selection__arrow {
	height: 34px !important;
}

.select2-selection__clear {
	line-height: 34px !important;
}

.select2-search__field {
	padding: 0px !important;
}
 **/
 
/***
Rounded Portlets
***/

.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}

.select2-container-multi .select2-choices {
	border-radius: 4px !important;
}

.select2-drop-above .select2-choices {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.select2-dropdown-open .select2-choices {
	border-bottom-left-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.user-avatar {
	font-size: 32px !important;
}

.page-footer-fixed .page-footer {
	background-color: #3B3F51;
}

.page-footer-inner {
	color: #fff !important;
}

.text-indent {
	text-indent: 25px;
}

.no-decoration {
	text-decoration: none !important;
}

.loading-spinner {
	position: absolute;
	top: 40%;
	left: 45%;
	font-size: 55px;
	z-index: 9999;
}

.margin-left-10 {
	margin-left: 10px;
}

.margin-left-25 {
	margin-left: 25px;
}

.margin-right-10 {
	margin-right: 10px;
}

.bg-light-green {
	background-color: #66BB6A !important;
	border-color: #66BB6A !important;
}

/** Template CRUD Styles */

.column-count-12 {
	width: 100%;
}

.column-count-11 {
	width: 91.66%;
}

.column-count-10 {
	width: 83.3%;
}

.column-count-9 {
	width: 74.97%;
}

.column-count-8 {
	width: 66.64%;
}

.column-count-7 {
	width: 58.31%;
}

.column-count-6 {
	width: 50%;
}

.column-count-5 {
	width: 41.65%;
}

.column-count-4 {
	width: 33.33333333%;
}

.column-count-3 {
	width: 24.99%;
}

.column-count-2 {
	width: 16.66%;
}

.column-count-1 {
	width: 8.33%;
}

.row-height-1 {
	min-height: 100%;
}

.row-height-2 {
	min-height: 50%;
}

.row-height-3 {
	min-height: 33.3333%;
}

.widgets {
	background-color: #e6fae1;
}

.no-widgets {
	background-color: #e9edef;
}

.widget-block {
	padding: 25px;
}

.widget-delete {
	position: absolute;
  right: 10px;
  padding-left: 10px;
}

/** Framework CRUD Styles */

.framework-row .bg-green {
	border-radius: 4px;
	padding: 15px;
}

.framework-preview-wrapper {
	position: relative;
	float: left;
	width: 100%;
}

.framework-preview-wrapper:hover {
	cursor: pointer;
}

.framework-mockup {
	background-color: #ffffff;
	border-radius: 4px;
	position: relative;
	float: left;
	margin-bottom: 25px;
	width: 100%;
}

.row-wrapper {
	position: relative;
	display: inline-block;
	width: 100%;
}

.row-wrapper > div {
	min-height: 75px;
	display: inline-block;
	float: left;
	padding: 10px;
	position: relative;
}

.framework-mockup .column-content {
	border-radius: 4px;	
	height: 100%;	
	min-height: 80px;
}

.list-group-title {
	position: relative;
	display: block;
	font-size: 18px;
	margin-bottom: 15px;
	text-align: center;
	width: 100%;
}
.column-content .list-group {
	display: block;
	position: relative;
	margin: 0px auto 15px auto;
	padding: 0px 15% 0px 15%;
	width: 100%;
}

.column-content .list-group li {
	color: #000;
	margin: 0px auto;
	max-width: 400px;
}

/** Sequence List Item Styles */

.list-group li:hover {
	cursor: pointer;
}

.list-group li.ui-sortable-helper {
	cursor: move;
}

.parent-item {
	background-color: #eee;
	font-weight: 900;
}

.parent-item ul {
	margin: 0px auto !important;
	padding: 10px;	
}

.child-item {
	font-weight: normal;
}